body{
  margin:0;
}
  a {
    color:black;
  }

  h1{
    font-size:50px;
    text-align:center;
    background-color: rgba(255, 20, 200, .10);
    border-bottom: 2px solid gray;
    margin:0;
    padding: 20px;
  }
  ol{
  border-right: 2px solid gray;
  width:130px;
  margin:0;
  padding: 10px;
}
 #grid{
   display: grid;
   grid-template-columns: 150px 1fr;
 }

 #grid ol{
  padding-left: 33px;
  background-color: rgba(255, 20, 200, .1);
}
  #grid #article{
    padding-left: 35px;

  }

  @media (max-width:600px)
  {
    #grid{
      display: block;
    }
    ol{
     border-right: none;
   }
   h1{
 border-bottom: none;
  }
}
